{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}
<div>
{% section 'product-template' %} 
</div>
<div class="ewd-ufaq-faqs">{{product.metafields.EWD_UFAQ.Product_FAQ_Output}}</div>

{% if collection %}
  <div class="full-width full-width--return-link">
    <a href="{{ collection.url }}" class="h1 return-link">
      {% include 'icon-arrow-thin-left' %}
      {{ 'products.product.collection_return' | t: collection: collection.title }}
    </a>
  </div>
{% endif %}
<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  window.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  }
</script>

<div class="customer_reviews_gallery pm_customer_reviews" id="alidropship_customer_reviews" data-product-id="{{product.id}}" style="display:block;"></div>